{% extends "admin/layout.html" %}
{% block content %}

<h2>Créer un Trajet</h2>

<form method="post">

    <label>Ville de départ :</label>
    <input name="ville_depart" required>

    <label>Ville d'arrivée :</label>
    <input name="ville_arrivee" required>

    <label>Tarif standard :</label>
    <input type="number" name="tarif_standard" required>

    <label>Tarif VIP :</label>
    <input type="number" name="tarif_vip" required>

    <button type="submit">Enregistrer</button>
</form>

{% endblock %}
