<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

<div class="login-container">
    <h2>Créer un compte client</h2>

    <form method="POST" action="/register">
        <label>Nom</label>
        <input type="text" name="nom" required>

        <label>Prénom</label>
        <input type="text" name="prenom">

        <label>Téléphone</label>
        <input type="text" name="telephone" required>

        <button type="submit">S'inscrire</button>

        <p class="bottom-text">
            Déjà un compte ? <a href="/login">Se connecter</a>
        </p>
    </form>
</div>

</body>
</html>
