{% extends "layout.html" %}

{% block content %}
<h2>Nouvelle Location</h2>

<form method="POST">
    <label>Client</label>
    <select name="client_id">
        {% for client in clients %}
        <option value="{{ client.id_client }}">{{ client.nom }} {{ client.prenom }}</option>
        {% endfor %}
    </select>

    <label>Véhicule</label>
    <select name="vehicule_id">
        {% for veh in vehicules %}
        <option value="{{ veh.id }}">{{ veh.nom }}</option>
        {% endfor %}
    </select>

    <label>Date début</label>
    <input type="date" name="date_debut" required>

    <label>Date fin</label>
    <input type="date" name="date_fin" required>

    <label>Prix total</label>
    <input type="number" step="0.01" name="prix_total" required>

    <label>Statut</label>
    <input type="text" name="statut" value="En cours">

    <button type="submit">Créer la location</button>
</form>
{% endblock %}
