<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profil - MBOA TRAVEL</title>
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>

  {% include 'public/header.html' %}

  <div class="container">

<div class ="side-message">
  <h2> Mon profil </h2>
  <p>Des informations a modifier ?</p>
  <p>Entre tes <strong>nouvelles informations</strong> et mets a jour ton profil.</p>
</div>

<div class="register-box">
<div class="form-box">

      <div class="logo">
        <img src="{{ url_for('static', filename='image/logo3.png') }}" alt="MBOA TRAVEL">
    </div>
    
    <h2>Mon profil</h2>
    <p class="subtitle">Modifier votre profil</p>

    <form method="POST" id="profilForm">

      {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

        <input type="text" name="nom" value="{{ client.nom }}" required>
        <input type="text" name="prenom" value="{{ client.prenom }}">
        <input type="text" name="telephone" value="{{ client.telephone }}" required>
        <input type="email" name="email" value="{{ client.email }}">
        <button type="submit" class="btn-register" id="submitBtn">Mettre à jour</button>

        <!-- Loader -->
        <div id="loader" class="loader" style="display: none;"></div>
    </form>

    <!--  SCRIPT 100% FONCTIONNEL AVEC DÉLAI -->
    <script>
        const form = document.getElementById("profilForm");
        const loader = document.getElementById("loader");
        const btn = document.getElementById("submitBtn");

        form.addEventListener("submit", function (e) {
            e.preventDefault();  // empêche l’envoi immédiat

            btn.disabled = true; 
            loader.style.display = "inline-block"; // affiche le rond

            // ⏱️ délai avant envoi (2000 ms = 2 secondes)
            setTimeout(() => {
                form.submit();
            }, 2000);
        });
    </script>
    
    <a class="btn" href="{{ url_for('crud.dashboardClient') }}">Retour au dashboard</a>
</div>
</div>
</div>
{% include 'public/footer.html' %}
</body>
</html>
