{% extends "layout.html" %}

{% block content %}
<h2>Modifier le client</h2>

<form method="POST">
    <label>Nom</label>
    <input type="text" name="nom" required value="{{ client.nom }}">

    <label>Prénom</label>
    <input type="text" name="prenom" value="{{ client.prenom }}">

    <label>Téléphone</label>
    <input type="text" name="telephone" required value="{{ client.telephone }}">

    <label>Email</label>
    <input type="email" name="email" value="{{ client.email }}">

    <label>CNI</label>
    <input type="text" name="cni" value="{{ client.cni }}">

    <button type="submit">Mettre à jour</button>
</form>
{% endblock %}
