{% extends "layout.html" %}

{% block content %}
<h2>Liste des clients</h2>

<a href="{{ url_for('crud.new_client_form') }}">
    <button>+ Nouveau client</button>
</a>

<table border="1" cellpadding="6" style="margin-top:20px; width:100%; background:white;">
    <tr style="background:#003366; color:white;">
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>CNI</th>
    </tr>

    {% for c in clients %}
    <tr>
        <td>{{ c.id_client }}</td>
        <td>{{ c.nom }}</td>
        <td>{{ c.prenom }}</td>
        <td>{{ c.telephone }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.cni }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
