{% extends "layout.html" %}

{% block content %}
<h2>Créer un nouveau client</h2>

<form method="POST">
    <label>Nom</label>
    <input type="text" name="nom" required>

    <label>Prénom</label>
    <input type="text" name="prenom">

    <label>Téléphone</label>
    <input type="text" name="telephone" required>

    <label>Email</label>
    <input type="email" name="email">

    <label>CNI</label>
    <input type="text" name="cni">

    <button type="submit">Créer le client</button>
</form>
{% endblock %}
